/* Your Code Here */
:root{
    --color-blue: #11003a;
}

.text-block {
border: 2px solid var(--color-blue);
border-radius: 12px;
}

.blue-line{
background-color: var(--color-blue);
height: 20px;
color: none;
}



.menu-main, .menu-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80%;
    margin: 0 auto;
}

.wrapper{
    max-width: 100%;
}